
// * Fuentes de texto
@font-face {
  font-family: merriweather;
  src: url(../assets/fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: sofia;
  src: url(../assets/fonts/Sofia-Regular.ttf);
}

.font-merriweather {
  font-family: 'merriweather';
}

.font-sofia {
  font-family: 'sofia';
}

// * Estilos de fondo de body

body.bicolor {
  background-image: linear-gradient(90deg, $primary 0%, $secondary 40%, $secondary 60%, $primary 100%);
}

body.none{
  background-image: none
}

// * General

.normal_link {
  color: grey;
  text-decoration: none;
}

.bg-image {
  background-color: $primary;
}

.bg-bicolor{
  background-image: linear-gradient(90deg, $primary 0%, $secondary 40%, $secondary 60%, $primary 100%);
}

//niveles de margen
@for $i from 1 through 9 {
  .level-#{$i} {
    padding-left: $i * 40px;
  }
}

// * Dashboard - Main

$sidenav: (
  'topHeight': 50px,
  'bottomHeight': 50px,
);

#sidenav {
  background-color: $secondary;
}

#userDropdown {
  margin-top: 6px !important;
}

#sidenavTop {
  height: map-get($sidenav, 'topHeight') !important;
}

#sidenavLinks {
  height: calc(100% - #{map-get($sidenav, 'topHeight')} - 166px - #{map-get($sidenav, 'bottomHeight')});
  margin-top: calc(#{map-get($sidenav, 'topHeight')} + 166px);
  margin-bottom: map-get($sidenav, 'bottomHeight');
  padding-right: 8px;
  color: $primary;
}

#sidenavBottom {
  height: map-get($sidenav, 'bottomHeight') !important;
}body {
  background-image: none;
}


body.none {
  background-image: none !important;
}
